<script>
$(document).ready(
         function() {
          setInterval(refreshImage, 3000);
    	});
    
    function refreshImage() {
    	$('.image').load('/rubytest/refreshSnapshot');
    }
    
</script>

<div id="arduinocam_container">
	<div id="image-wrapper">
		<div class="image">
			<%= render partial: 'rubytest/refreshSnapshot' %>
		</div>
	</div>
	<div id="arduinocam-container">
		<span id="message"></span>
		<span id="camera_container">
			<%= render partial: 'home' %>
		</span>
		<div id="arduino_controller">
			<% if @board.nil? %>
				"Arduino not attached!"
			<% else %>
				<%= @board %>
				<%= button_to "<<", {:controller => "rubytest", :action => "left"}, :method => "put", :remote => true, :id => 'turn-left'  %>
				<%= button_to ">>", {:controller => "rubytest", :action => "right"}, :method => "put", :remote => true, :id => 'turn-right' %>
				<%= button_to "DC", {:controller => "rubytest", :action => "close"}, :method => "put", :remote => true, :id => 'close-connection' %>
			<% end %>
		</div>
	</div>
</div>
<script>
	refreshImage();
</script>
