<% if @board.nil? %>
	"Arduino not attached!"
<% else %>
	<%= @board %>
	<%= button_to "Turn left", {:controller => "rubytest", :action => "left"}, :method => "put", :remote => true %>
	<%= button_to "Turn right", {:controller => "rubytest", :action => "right"}, :method => "put", :remote => true %>
	<%= button_to "Close Connection", {:controller => "rubytest", :action => "close"}, :method => "put", :remote => true %>
<% end %>


<script>
$(document).ready(
         function() {
          setInterval(refreshImage, 3000);
    	});
    
    function refreshImage() {
    	$('.image').load('/rubytest/refreshSnapshot');
    }
    
</script>

<div class="image">
	<%= render partial: 'rubytest/refreshSnapshot' %>
</div>
<span id="message"></span>
<span id="camera_container">
	<%= render partial: 'home' %>
</span>

<script>
	refreshImage();
</script>
