<div id="signup-title">
	<h1>Welcome to Arduino Secucam!</h1>
	<% if flash[:notice] %>
      		<p class="notice">
      		<%= flash[:notice] %>
     		 </p>
    	<% end %>
</div>
<div id="signup-form">
    <table>
    	<tr>
    		<%= form_tag(:action => 'login_attempt') do %>
    		<td class="label">Username or E-mail:</td>
    		<td class="input"><%= text_field_tag :username_or_email %></td>
    	</tr>
    	<tr>
    		<td class="label">Password:</td>
    		<td class="input"><%= password_field_tag :login_password %></td>
    	</tr>
    	<tr>
		<td></td>
    		<td style="text-align: right;"><%= submit_tag "Log in" , :class => "button" %></td>
    		<% end %>
    	</tr>
    </table>
</div>
