<%= javascript_include_tag "klass.min.js" %>
<%= javascript_include_tag "code.photoswipe.jquery-3.0.5.min.js" %>
<%= stylesheet_link_tag "photoswipe.css" %>

<script type="text/javascript">
	(function(window, $, PhotoSwipe) {
		$(document).ready(function() {
			$("#gallery a").photoSwipe({});
			$( "#gallery a" ).on( 'swipeleft', tapholdHandler );
 
            // Callback function references the event target and adds the 'tap' class to it
            function tapholdHandler( event ) {
            		// console.log(event); used this to look at object contents to retrieve the information that I needed
            		var remove_photo = confirm("Remove " + $(event.target).attr("alt") + "?");
            		var id_of_img = $(event.target).attr("data-img-id");
        			if (remove_photo == true) {     
        				
        				// GET request with routes update allows me to delete file safely
        				// Originally had filename being sent, but it's best if the ID is used because of Rails' ActiveRecord abstraction
        				jQuery.ajax({
					        type: "GET",
					        url: "/gallery/removePhoto/"+id_of_img+"",
					        success: function(msg){
					        	alert("Image deleted.");
					        },
				            failure: function() {
				                alert("Image could not be deleted.");
				            }
						});
        				   				
        				// Removes from list.
        				$(this).closest('li').remove();
        			}  			
        			
        		}
		});
	}(window, window.jQuery, window.Code.PhotoSwipe));
</script>
<% if @snapshots.size > 0 %>
	<ul id="gallery">
		<% @snapshots.each_with_index do |snapshot, index| %>          
				<li><a href="/assets/<%= snapshot.filename %>" rel="external" data-remote="true" method="post" >
					<%= image_tag(snapshot.filename, :width => 160, :height => 120, "data-img-id" => snapshot.id)%>
				</a></li>
		<% end %>
	</ul>
<% else %>
	<div id="no-results">
		No snapshots available.
	</div>
<% end%>
