<script>

	$(function() {
		$(".image").hover(function() {
			var image = $(this).attr("rel");
			$('#image').fadeTo('slow');
			$('#image').html('<img src="' + image + '" width="320" height="240"/>');
			return false;
	    	});
	});
	
	$(document).ready(function() {
		if(jQuery("#gallery").length) {
			
			var totalImages = jQuery("#gallery > li").length
			var imageWidth  = jQuery("#gallery > li:first").outerWidth(true)
			var totalWidth = imageWidth * totalImages
			var visibleImages = Math.round(jQuery("#gallery-wrap").width() / imageWidth)
			var visibleWidth = visibleImages * imageWidth
			var stopPosition = (visibleWidth - totalWidth)
			
			var multiplier = 1;
			
			var timer;
			var interval = 1;
			
			jQuery("#gallery").width(totalWidth);
			
			jQuery("#gallery-prev").hover(function() {
				multiplier = 1;
				interval = 1;
				timer = slideLeft();
			}, function() {
				clearInterval(timer);
			});
			
			jQuery("#gallery-prev-10").click(function() {
				multiplier = 10;
				slideLeftClick();
			});
			
			jQuery("#gallery-prev-20").click(function() {
				multiplier = 20;
				slideLeftClick();
			});
			
			jQuery("#gallery-next").hover(function() {
				multiplier = 1;
				interval = 1;
				timer = slideRight();
			}, function() {
				clearInterval(timer);
			});
			
			jQuery("#gallery-next-10").click(function() {
				multiplier = 10;
				slideRightClick();
			});
			
			jQuery("#gallery-next-20").click(function() {
				multiplier = 20;
				slideRightClick();
			});
			
			function slideRight() {
				return setInterval(function() {
					if(jQuery("#gallery").position().left > stopPosition && !jQuery("#gallery").is(":animated")) {
						jQuery("#gallery").animate({left : "-=" + imageWidth*multiplier + "px"});
					}
				}, interval);
			}
			
			function slideRightClick() {
					if(jQuery("#gallery").position().left > stopPosition && !jQuery("#gallery").is(":animated")) {
						jQuery("#gallery").animate({left : "-=" + imageWidth*multiplier + "px"}, {duration: 1000, easing: 'swing'});
					}
			}
			
			function slideLeft() {
				return setInterval(function() {
					if(jQuery("#gallery").position().left < 0 && !jQuery("#gallery").is(":animated")) {
						jQuery("#gallery").animate({left : "+=" + imageWidth*multiplier + "px"});
					}
				}, interval);
			}
			
			function slideLeftClick() {
					if(jQuery("#gallery").position().left < 0 && !jQuery("#gallery").is(":animated")) {
						jQuery("#gallery").animate({left : "+=" + imageWidth*multiplier + "px"}, {duration: 1000, easing: 'swing'});
					}
			}
			
		}
	});

</script>
<% if @snapshots.size > 0 %>
	<div id="gallery-container">
		<div id="image">
			<%= image_tag(@snapshots.first.filename, :width => 320, :height => 240) %>
		</div>
		<div id="gallery-wrap">
		    <ul id="gallery">
				<% @snapshots.each_with_index do |snapshot, index| %>          
		    		<li>
		    			<a href="#" rel="/assets/<%= snapshot.filename %>" class="image">
		    				<%= image_tag(snapshot.filename, :width => 160, :height => 120)%>
		    			</a>
		    			<br />
		    			<div id="timestamp">
		    				<%= snapshot.year << "-" << snapshot.month << "-" << snapshot.day %>
		    				<br />
		    				<%= snapshot.hour << ":" << snapshot.minute << ":" << snapshot.second %>
		    			</div>
		    		</li>
				<% end %>
		    </ul>
		</div>
		<div id="gallery-controls">
		    <a href="#" id="gallery-prev"><</a>
		    <% if @snapshots.size > 10%>
		    	<a href="#" id="gallery-prev-10"><<</a>
		    	<% if @snapshots.size > 20 %>
		    		<a href="#" id="gallery-prev-20"><<<</a>
		    	<% end %>
		    <% end %>
		    <a href="#" id="gallery-next">></a>
		    <% if @snapshots.size > 10%>
		    	<a href="#" id="gallery-next-10">>></a>
		    	<% if @snapshots.size > 20 %>
		    		<a href="#" id="gallery-next-20">>>></a>
		    	<% end %>
		    <% end%>
		</div>
	</div>
<% else %>
	<div id="no-results">
		No snapshots available.
	</div>
<% end%>
